<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Googler: Trinity Cyber Forum</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="login.css" />
    <style>
        .btn {
            background-color: #ef414c;
            /* Green */
            border: 2px solid #ef414c;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 45px;
        }

        .btn:hover {
            background-color: transparent;
            color: #ef414c;
            transition: 0.3s;
        }
    </style>
</head>

<body>
    <img id="logo" src="trinity.png" height="60px" alt="" srcset="">
    <div class="container text-center">
        <div class="text-center">
            <img src="trinity.png" height="100px" alt="">
        </div>

        <h1>Trinity Cyber Forum</h1>
        <h3>Googler</h3>
        <h2>
            <% if (messages.bigMessage) { %>
                <div class="">
                    <%= messages.bigMessage %>
                </div>
                <% } %>
        </h2>
        <br>
        <a href="http://instagram.com/ipectrinity" target="_blank"><button class="btn">Follow Trinity</button></a>
    </div>
    <div id="particles-js"></div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="particles.js"></script>

</body>

</html>