<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cryptohunt 2.0</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="login.css">
</head>

<body>
  <img id="logo" src="trinity.png" height="60px" alt="" srcset="">
  <div class="container text-center">
    <h3>Login</h3>
    <form>
      <label>Username</label><br>
      <input type="text"><br>
      <label>Password</label><br>
      <input type="password"><br>
      <button>Log in</button>
    </form>
  </div>
  <div id="particles-js"></div>

  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="particles.js"></script>

</body>

</html>