.text-center {
  text-align: center;
}
.errorMessage,
.successMessage {
  background-color: red;
  color: white;
  text-align: center;
  padding: 5px 20px;
  margin: 5px 0px;
  border-radius: 5px;
}

.successMessage {
  background-color: #4bb543;
}

.question {
  color: white;
  white-space: pre-wrap;
  background-color: #ef414c;
  padding: 10px 10px;
  margin: 10px 0px;
  font-size: 20px;
}

.text-accent {
  font-weight: bold;
  background-color: #ef414c;
  color: white;
  padding: 0px 7px;
  border-radius: 5px;
}

.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.88);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
  color: black;
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: black;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}

.modal-window > div {
  border-radius: 1rem;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

.btn {
  margin-top: 10px;
  background-color: #ef414c; /* Green */
  border: none;
  color: white !important;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

small {
  color: black;
}
